__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/

.env
.env.docker

db.sqlite3

logs/
reports/

.git/
.gitignore
.github/

.vscode/
.idea/

celerybeat-schedule*

media/
staticfiles/

.pytest_cache/
.coverage
htmlcov/

.terraform/
*.tfstate
*.tfstate.*