<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Information</title>
</head>
<body>
    <h1>System Information</h1>

<table border="1">
<tr>
    <th>Property</th>
    <th>Value</th>
</tr>
<tr>
    <td>Hostname</td>
    <td>{{ info.hostname }}</td>
</tr>
<tr>
    <td>Operating System</td>
    <td>{{ info.os }}</td>
</tr>
<tr>
    <td>IP Address</td>
    <td>{{ info.ip_address }}</td>
</tr>
<tr>
    <td>Machine</td>
    <td>{{ info.machine }}</td>
</tr>
<tr>
    <td>Processor</td>
    <td>{{ info.processor }}</td>
</tr>
<tr>
    <td>Python Version</td>
    <td>{{ info.python_version }}</td>
</tr>
</table>
</body>
</html>